@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<link rel="stylesheet" href="css/site.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="content-block">
                <h2>ЦЕ НЕ ПРОСТО УЯВА!</h2>
                <img src="img/1.jpg" alt="Зображення 1" class="img-fluid jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="content-block">
                <h2>Про нас</h2>
                <p>
                    Запрошуємо вас до світу подорожей, де мрії стають реальністю! Наша компанія - ваш надійний партнер
                    у світі туризму, і ми готові надати вам найкращі туристичні послуги.
                </p>
                <p>Наша місія:</p>
                <p>
                    Ми прагнемо зробити подорожі незабутніми для кожного клієнта, надаючи різноманітні турпакети із найкращими
                    цінами та якістю обслуговування. Ми віримо, що подорожі можуть змінити наше життя, розширюючи наші горизонти та запам'ятовуючи яскраві моменти.
                </p>
                <p>
                    Ми розуміємо, наскільки важливо забезпечити безпеку, комфорт і найвищий рівень задоволення для наших клієнтів, і саме тому ми використовуємо передові
                    технології для обліку та керування турпакетами.Наша система надає детальну статистику та аналітику щодо продажів, популярності маршрутів і клієнтських уподобань. Це допомагає вам приймати обґрунтовані
                    рішення та пропонувати ефективні турпакети.
                </p>
                <p>З нами ви можете бути впевнені, що ваші подорожі будуть незабутніми та безпечними. Довірте нам свої мрії, і ми зробимо все можливе, щоб здійснити їх разом з вами.</p>
                <p>Оберіть нас як вашого партнера у світі туризму, і разом ми відкриємо для вас нові горизонти подорожей!</p>

            </div>
        </div>
        <div class="col-md-6">
            <div class="content-block">
                <h2>Наші послуги</h2>
                <ol>
                    <li>Турпакети на будь-який смак:</li>
                    <ul>
                        <li>Екскурсійні тури для любителів історії і культури.</li>
                        <li>Активний відпочинок для прихильників пригод та спорту.</li>
                        <li>Відпочинок на пляжі для любителів морського бризу та сонця.</li>
                        <li>Сімейні та романтичні відпочинки для всіх вікових груп.</li>
                        <li>Тематичні тури, спеціальні пропозиції для груп та корпоративних клієнтів.</li>
                    </ul>
                    <li>Онлайн-бронювання:</li>
                    <p>Наш вебсайт дозволяє легко обирати, порівнювати та бронювати туристичні пакети зручно та ефективно. Ми пропонуємо широкий вибір готелів, транспорту та екскурсій, щоб задовольнити всі ваші потреби.</p>
                    <li>Облік і керування турпакетами:</li>
                    <p>Наші системи автоматизованого обліку та керування допомагають нам забезпечувати вас актуальною інформацією про ваші бронювання, деталі подорожей та забезпечити безпроблемний відпочинок.</p>
                    <li>Професійні консультації:</li>
                    <p>Наша команда досвідчених туристичних експертів готова надати вам професійні поради та рекомендації щодо вибору і планування вашої мрійової подорожі.</p>
                </ol>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-1">
            <div class="row">
                <div class="col-md-6">
                    <h5>Зв'яжіться з нами:</h5>
                    <ul class="contact-icons">                      
                        <li><a href="tel:0638348654"><i class="fas fa-phone"></i></a></li> 
                        <li><a href="mailto:karmazina1333@gmail.com"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="https://t.me/n_karmazina"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="https://wa.me/0638348654"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a href="https://wa.me/0638348654"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>