@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Політика конфіденційності для сайту тур-агенції</h1>

<p>Ваша конфіденційність дуже важлива для нас. Ця політика конфіденційності пояснює, як ми збираємо, використовуємо, розкриваємо та захищаємо ваші особисті дані під час використання нашого веб-сайту та послуг.</p>

<h2>Які особисті дані ми збираємо</h2>

<p>Під час взаємодії з нашим сайтом або використання наших послуг, ми можемо збирати такі особисті дані:</p>

<ol>
    <li><strong>Ім'я та прізвище:</strong> Для ідентифікації вас в наших системах та документації.</li>
    <li><strong>Контактна інформація:</strong> Ваша електронна пошта та номер телефону для зв'язку з вами стосовно ваших запитань та бронювань.</li>
    <li><strong>Інформація про платіж:</strong> Якщо ви робите платежі через наш веб-сайт, ми можемо збирати інформацію, необхідну для обробки оплати та запобігання шахрайству.</li>
    <li><strong>Інша інформація:</strong> Інша інформація, яку ви подаєте під час використання наших послуг, така як відгуки, переваги щодо подорожей тощо.</li>
</ol>

<h2>Як ми використовуємо зібрані дані</h2>

<p>Ми використовуємо ваші особисті дані для таких цілей:</p>

<ol>
    <li><strong>Надання послуг:</strong> Обробка вашого бронювання, надання необхідної інформації та документів для подорожі.</li>
    <li><strong>Зв'язок з вами:</strong> Надсилання повідомлень та сповіщень, пов'язаних з вашими бронюваннями або запитаннями.</li>
    <li><strong>Покращення послуг:</strong> Аналіз та вдосконалення якості наших послуг на основі отриманого відгуку та статистики.</li>
</ol>

<h2>Як ми захищаємо ваші дані</h2>

<p>Ми приділяємо велику увагу забезпеченню безпеки ваших особистих даних. Ми використовуємо заходи безпеки, такі як шифрування даних та інші технічні та організаційні заходи для захисту вашої конфіденційної інформації від несанкціонованого доступу та використання.</p>

<h2>Розкриття особистих даних третім сторонам</h2>

<p>Ми не розкриваємо ваші особисті дані третім сторонам без вашого згоди, за винятком випадків, передбачених законодавством.</p>

<h2>Ваші права</h2>

<p>Ви маєте право вимагати доступу до своїх особистих даних, виправлення неправильних даних, видалення своїх даних та інші права, передбачені законом.</p>

<h2>Зміни в політиці конфіденційності</h2>

<p>Ми можемо час від часу оновлювати цю політику конфіденційності, і будь-які зміни будуть розміщені на цій сторінці.</p>

<p>Якщо у вас є будь-які питання або зауваження стосовно нашої політики конфіденційності, будь ласка, зв'яжіться з нами.</p>

<p>Дякуємо за використання наших послуг!</p>

<p>
    TravelApp<br>

</p>
